@page "/login"
@using AppUsingBlazor.Data;
@using Data;
<PageTitle>Index</PageTitle>
@inject NavigationManager Navigation
@inject IJSRuntime JS
<h1>Hello, User!</h1>

<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
    <EditForm Model="@userMod">
    <DataAnnotationsValidator />
    <ValidationSummary />

        <hr>
            <label for="email"><b>Login</b></label>
            <InputText type="text" placeholder="Enter Login" name="login" id="login" required @bind-Value="userMod.Login" />
            <br />
            <label for="psw"><b>Password</b></label>
            <InputText type="password" placeholder="Enter Password" name="psw" id="psw" required @bind-Value="userMod.Password" />
            <br />
        <hr>
        <button type="submit" class="registerbtn" @onclick="Logining">LOG IN</button>
        </EditForm>
    </div>
</div>
@code {
    private User userMod = new User();
    private User user = new User();

    private void Logining()
    {
        if (userMod.Login != null && userMod.Password != null)
        {
            user = DBConnection.FindByLogin(userMod.Login);
            if (user.Password == userMod.Password)
            {
                UsersComp.currentUser = user;
                Navigation.NavigateTo("/counter");
            }
            else
            {
                JS.InvokeVoidAsync("alert", "No user!");
            }
        }
    }
}