@page "/counter"
@using Data
@inject NavigationManager Navigation
<PageTitle>Counter</PageTitle>

<h1>User</h1>
<UserComponent User = "@UsersComp.currentUser"></UserComponent>
<button @onclick="Logouting">LOG OUT</button>
@code {
	private void Logouting()
    {
        Navigation.NavigateTo("/");
    }
}